<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DaoTest</display-name>
    <servlet-name>DaoTest</servlet-name>
    <servlet-class>com.Alex.servlet.DaoTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaoTest</servlet-name>
    <url-pattern>/DaoTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jdbcTemplateTest</display-name>
    <servlet-name>jdbcTemplateTest</servlet-name>
    <servlet-class>com.Alex.spring.jdbcTemplateTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcTemplateTest</servlet-name>
    <url-pattern>/jdbcTemplateTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NamedJdbcTemplate</display-name>
    <servlet-name>NamedJdbcTemplate</servlet-name>
    <servlet-class>com.Alex.spring.NamedJdbcTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NamedJdbcTemplate</servlet-name>
    <url-pattern>/NamedJdbcTemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleJdbcTemplateTest</display-name>
    <servlet-name>SimpleJdbcTemplateTest</servlet-name>
    <servlet-class>com.Alex.spring.SimpleJdbcTemplateTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleJdbcTemplateTest</servlet-name>
    <url-pattern>/SimpleJdbcTemplateTest</url-pattern>
  </servlet-mapping>
</web-app>